<div class="jumbotron text-center">
    <h1>Моя первая Bootstrap страница</h1>
    <p>Измените размер этой адаптивной страницы, чтобы увидеть эффект!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Колонка 1</h3>
            <p>Просто текст ..</p>
            <p>Новый текст..</p>
        </div>
        <div class="col-sm-4">
            <h3>Колонка 2</h3>
            <p>Просто текст ..</p>
            <p>Новый текст..</p>
        </div>
        <div class="col-sm-4">
            <h3>Колонка 3</h3>
            <p>Просто текст ..</p>
            <p>Новый текст..</p>
        </div>
    </div>
</div>